[Desktop Entry]
Name=AA Image Processor
Comment=Zuschneiden und exportieren von WebP-Varianten
Exec=/home/matthias/_AA_Image_Processor/start_image_processor.sh %u
Icon=/home/matthias/_AA_Image_Processor/image_processor.png
Terminal=false
Type=Application
Categories=Graphics;Photography;
StartupNotify=true
MimeType=image/jpeg;image/png;image/webp;image/bmp;image/tiff;
StartupWMClass=AA Image Processor
